@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
}

/* share items */
body{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    background-color: #f5f8ff;
} 
section{
    padding: 100px 0;
}
.my-with{
    max-width: 1140px;
    margin: 0 auto;
}
.main-button{
    font-size: 16px;
    cursor: pointer;
    background-color: #4E47FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    transition: all 0.3s ease;
}
.main-button:hover {
    background-color: red;
    }

/* Header */
header{
    background-image: url(Assets/Hero-bg.png);
    max-height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
}
.header-content h1 {
    font-weight: 500;
    font-size: 43px;
    color: #252432;
    text-align: center;
    width: 497px;
}
.header-content button{
margin-top: 28px;
}
/* Main page */

section.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}
.action-content p {
    padding: 20px 0;
}

.action-imgage img {
    border-radius: 45px;
}/* productive-user page*/
.productive-user{
    background-color: #dce5ff;
    border-radius: 20px;
    padding: 50px 0;
}
.productive-user-title {
    color: #252432;
    text-align: center;
    margin-bottom: 26px;
    font-size: 31px;
}
.productive-user-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.productive-userBox{
    max-width: 170px;
}
.productive-userBox h1{
    color: #4e47ff;
    font-size: 65px;
}
.productive-userBox span{
    color: #6e727f;
    text-align: center;
}