@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
}

/* share items */
body{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    background-color: #f5f8ff;
} 
section{
    padding: 100px 0;
}
.my-with{
    max-width: 1140px;
    margin: 0 auto;
}
.main-button{
    font-size: 16px;
    cursor: pointer;
    background-color: #4E47FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    transition: all 0.3s ease;
}
.main-button:hover {
    background-color: red;
    }

/* Header */
header{
    background-image: url(Assets/Hero-bg.png);
    max-height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
}
.header-content h1 {
    font-weight: 500;
    font-size: 43px;
    color: #252432;
    text-align: center;
    width: 497px;
}
.header-content button{
margin-top: 28px;
}
/* Main page */

section.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}
.action-content p {
    padding: 20px 0;
}

.action-imgage img {
    border-radius: 45px;
}/* productive-user page*/
.productive-user{
    background-color: #dce5ff;
    border-radius: 20px;
    padding: 50px 0;
}
.productive-user-title {
    color: #252432;
    text-align: center;
    margin-bottom: 26px;
    font-size: 31px;
}
.productive-user-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.productive-userBox{
    max-width: 170px;
}
.productive-userBox h1{
    color: #4e47ff;
    font-size: 65px;
}
.productive-userBox span{
    color: #6e727f;
    text-align: center;
}
/* review page  */
.review-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.review-title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 73px;
}
.review-box{
    padding: 25px;
    margin-right: 35px;
    border: 0.5px solid #b3b1b1;
    background-color: white;
    border-radius: 30px;
}
.review-box h3 {
    padding: 19px 0;
}
.review-section {
    display: flex;
    margin-top: 29px;
}
.review-section-img {
    border-radius: 80%;
    margin-right: 4px;
}
.review-section-review-Text span {
    font-family: sans-serif;
    color: #6e727f;
    font-size: 14px;
}
.review-section-name h4 {color: #6e727f;}
/* newsletter page */
section.newsletter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}
.newsletter-content{
    max-width: 530px;
}
.newsletter-content h2 {
    font-size: 80px;
}
.newsletterForm{
    max-width: 540px;
}

form input, textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: 1px solid #b8aeae;
    border-radius: 10px;
    margin: 9px 0 20px 0;
    outline: none;
}

form button {width: 530px;}

form label {
    font-size: 15px;
    font-weight: 600;
}
